header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-box{
    margin: 5px;
    border: 1px;
    border: solid;
    display: grid;
    flex-wrap: wrap;
}

.chicken, .beef, .sushi{
    font-size: 125%;
    font-weight: bold;
    float: right;
    border: 2px;
    border-style: solid;
    padding: 3px 20px;
}

.food-title{
    background-color: rgb(139, 139, 139);
}

.food-desc{
    background-color: rgb(139, 139, 139);
    padding: 20px 5px 5px 5px;
}

.chicken{
    background-color: #ffc0cb;
}

.beef{
    background-color: rgb(151, 50, 50);
}

.sushi{
    background-color: rgb(233, 233, 97)
}

.grid1, .grid2, .grid3{
    float: left;
}

/*Tablet*/
@media only screen and (min-width: 768px){
    .grid1{
        width: 50%;
    }
    .grid2{
        width: 50%;
    }
    .grid3{
        width: 100%;
    }
}

/*Desktop*/
@media only screen and (min-width: 992px){
    .grid1{
        width: 33%;
    }
    .grid2{
        width: 33%;
    }
    .grid3{
        width: 33%;
    }
}