header{
    width: 100%;
    text-justify: center;
}

body{
    background-color: #33ff00;
}

.menu-box{
    margin: 5px;
    border: 1px;
    border: solid;
}

.food-title{
    float: right;
    border: 2px;
    border-style: solid;
    padding: 0px 15px;
}

.food-desc{
    border: 2px;
    border-style: solid;
}

.grid1, .grid2, .grid3{
    float: left;
}

/*Tablet*/
@media only screen and (min-width: 768px){
    body{
        background-color: #2f00ff;
    }

    .grid1{
        width: 50%;
    }
    .grid2{
        width: 50%;
    }
    .grid3{
        width: 100%;
    }
}

/*Desktop*/
@media only screen and (min-width: 992px){
    body{
        background-color: #ff0000;
    }

    .grid1{
        width: 33%;
    }
    .grid2{
        width: 33%;
    }
    .grid3{
        width: 33%;
    }
}